﻿.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-left: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    width: 95%;
}

.Colsmall {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
}

.Colsmall2 {
    width: 325px;
    max-width: 325px;
    min-width: 325px;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
}

.Colsmall3 {
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
}

.Colsmall4 {
    width: 60px;
    max-width: 60px;
    min-width: 60px;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
}

.Colsmall-h {
    height: 60px;
    max-height: 60px;
    min-height: 60px;
}

#tdHeader td {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
}
