﻿/* ============================================== Margin */
.mt--10 {
    margin-top: -10px;
}
.mt--5 {
    margin-top: -5px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10{
    margin-top:10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}

.mt--10 {
    margin-top: -10px;
}



.mr--5 {
   margin-right: -5px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}


/* ============================================== Width */
.w-100-p {
    width: 100%;
}
.w-75-p {
    width: 75%;
}
.w-50-p {
    width: 50%;
}






/* ============================================== modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-left: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    width: 95%;
}