﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="viewCSDoc.aspx.cs" Inherits="PS_System.form.PR.viewCSDoc" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
     <%--   ดาวน์โหลดเอกสารกรุณาคลิ้ก&nbsp;<asp:LinkButton ID="btnDownloadFile" runat="server" Text="ที่นี่" OnClick="btnDownloadFile_Click"></asp:LinkButton>--%>
    </form>
</body>
</html>
